#DO NOT COMMIT THIS

# Sentry variables
SENTRY_AUTH_TOKEN=

# Expo variables
EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
EXPO_PUBLIC_SUPABASE_KEY=<prefer publishable key instead of anon key for mobile and desktop apps>

# React Native variables
REACT_NATIVE_PACKAGER_HOSTNAME=localhost