#DO NOT COMMIT THIS

# Sentry variables
SENTRY_AUTH_TOKEN=

# Expo variables
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321

# React Native variables
REACT_NATIVE_PACKAGER_HOSTNAME=localhost